@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, dracula, autumn;
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --light-white: #fbfbfb;
  --dull-white: #6a6678;
}

/* Base */

body {
  font-family: system-ui, -apple-system, sans-serif;
  color: var(--text);
  min-height: 100vh;
}

button {
  cursor: pointer;
  border: none;
}

input:-webkit-autofill,
input:-moz-autofill {
  -webkit-box-shadow: 0 0 0 1000px #26193F inset !important;
  -webkit-text-fill-color: white !important;
  color: white !important;
}
label:has(input:-webkit-autofill) {
  background-color: #26193F;
}
